<div class="container">
  <div class="number-container">
    <div class="primary">
      <button *ngFor="let item of primary" (click)="addPrimary(primary)">{{item.operation}}</button>
    </div>
    <div class="numbers">
      <button *ngFor="let number of numbers" (click)="addNumber(number)" #numberValue>{{number.nr}}</button>
    </div>
  </div>
  <div class="operations">
    <button  *ngFor="let opetation of operations" (click)="addOperation(opetation)">{{opetation.operation}}</button>
  </div>
</div>
