.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 234px;
  width: 100%;
  .number-container{
    flex-direction: column;
    .primary{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .numbers{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 175px;
      width: 100%;
    }
  }
  .operations{
    display: flex;
    flex-direction: column;
    max-width: 55px;
    width: 100%
  }
}
button{
  max-width: 55px;
  width: 100%;
  height: 25px;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  margin-top: 5px;
}
