.wrapper-menu {
  display: flex;
  flex-direction: row; }
  .wrapper-menu .menu {
    max-width: 200px;
    width: 100%;
    display: flex;
    flex-direction: row; }
    .wrapper-menu .menu .item {
      cursor: pointer;
      max-width: 150px;
      width: 100%;
      background-color: green;
      color: white;
      font-family: Arial;
      font-size: 14px;
      margin: 0 10px 0 0;
      padding: 12px 20px; }

/*# sourceMappingURL=app.component.css.map */
