<div class="wrapper-menu">
  <div class="menu">
    <div class="item" routerLink="canvas">Canvas</div>
    <div class="item" routerLink="calculator">Calculator</div>
    <div class="item" routerLink="testImage">testImage</div>
  </div>
</div>
<router-outlet></router-outlet>
