<div class="wrapper-component">
  <canvas #myCanvas style=" border: 1px solid red; margin: 0 auto;" ></canvas>
  <button (click)="moveTop()">Top</button>
  <button (click)="moveBottom()">Bottom</button>
  <button (click)="moveLeft()">Left</button>
  <button (click)="moveRight()">Right</button>
  <button (click)="rec()">Rec</button>
  <button (click)="play()">Play</button>
</div>
